.message-container {
  display: flex;
  margin-bottom: 25px;
  position: relative;
  align-items: flex-end;
  gap: 15px;
}

.message-content {
    display: flex;
    flex-direction: column;
    max-width: 60%;
}

.message-bubble {
  padding: 15px 20px;
  border-radius: 18px;
  word-wrap: break-word;
  line-height: 1.5;
}

.sender-name {
    color: var(--text-primary);
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 8px;
}

/* Sent messages (by current user) */
.message-container.sent {
  justify-content: flex-end;
}
.sent .message-bubble {
  background-color: var(--sent-bubble-bg);
  color: white;
  border-bottom-right-radius: 4px;
}

/* Received messages (from others) */
.message-container.received {
  justify-content: flex-start;
}
.received .message-bubble {
  background-color: var(--received-bubble-bg);
  color: var(--text-primary);
  border-bottom-left-radius: 4px;
}
.received .avatar {
    width: 40px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    background-color: #AAB2C3;
    color: white;
}