body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #12121c; /* Consistent dark background */
    color: #fff; /* Default text color */
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* You might also want to adjust default link colors etc. */
a {
    color: #00a79d;
}